@import url("./reset.css");

body {
    background-color: #e9f0ff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    color: #1d283a;
}

button {
    border: solid 1px #1d283a;
    border-radius: 0.5rem;
    font-weight: bold;
}

main,
header {
    background-color: #b0c9ff;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0.5rem;
}

header,
.welcome,
.folder-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logout {
    display: flex;
    gap: 8px;
    padding: 4px 8px;
    background-color: #fca5a5;
    border: solid 1px #1d283a;
    border-radius: 0.5rem;
    text-decoration: none;
    font-weight: bold;
}

.welcome {
    border-bottom: solid #e9f0ff 2px;
    padding-top: 8px;
    padding-bottom: 12px;
}

.welcome-name {
    font-weight: bold;
    font-size: 1.25rem;
}

.create-folder {
    display: flex;
    gap: 8px;
    padding: 4px 8px;
    background-color: #e9f0ff;
}

h2 {
    text-align: center;
    padding-top: 8px;
    margin-bottom: -8px;
}

.main-home {
    display: grid;
    grid-template-rows: auto 1fr;
}

.no-folders {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.1rem;
    font-weight: bold;
    color: #334155;
}

.no-folders img {
    height: 15rem;
    margin-bottom: 8px;
}

.folder-card {
    border-bottom: solid 1px #e9f0ff;
    padding: 0.5rem 0;
}

.folder-name {
    font-weight: bold;
    font-size: 1.2rem;
}

.folder-date {
    color: hsla(215, 25%, 27%, 0.9);
}

.folder-card-options {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.folder-card-options a,
.folder-card-options button {
    padding: 4px;
    border-radius: 8px;
    border: solid 1px #334155;
}

.folder-view {
    background-color: #e9f0ff;
}

.folder-edit {
    background-color: #fde68a;
}

.folder-card-options button {
    background-color: #fca5a5;
}